#runthru {
    margin: 10%;
    font-size: 35px;
}
.translator {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 25px;
}
.translatorList li a {
    font-size: 17px;
    margin: 2%;    
}
.isprow {
    display: flex;
}
span.notbold {
    font-weight: normal;
}
.considered {
    flex-basis: 100%;
    background: beige;
    color: maroon;
    border: 2px solid black; 
    border-radius: 10px;
    margin-bottom: 17%;
    font-size: 35px;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 7%;
    text-align: center;
    padding: 30px 15px;
    box-sizing: border-box;
}

#ISPyear {
    text-align: center;
   margin-top: 3%;
}
.businessProposal {
    font-size: 35px;
    margin-top: 30%;
    flex-basis: auto;
    background: beige;
    color: maroon;
    border: 2px solid black;
    border-style: groove;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-right: 15%;
    margin-left: 15%;
    padding: 70px 40px;
    box-sizing: border-box;
    transition: 0.5s;
}


.proposalLi li {
    margin-top: 5%;
}
.ispdescription {    
    display: inline-block;
    float: left;
    font-size:20px;
    margin-right: 10%;
    flex-basis: auto;
    background: #AED6F1;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-left: 5%;
    padding: 40px;
    box-sizing: border-box;
    transition: 0.5s;
}
.isptitles {
    font-size: 35px;
    margin-left: 5%;

}
* {
margin: 0%
}
#courseList {
    font-size: 35px;
}
#ispmotivation {
    margin-top: 10%;
    width: 30%;
    height: 30%;
    margin-top: 30%;
}
#containmentimg, #sceneimg, #spriteimg, #gamerun {
    width: 30%;
    height:30%;
    float: right;
    margin-right: 3%;
}

#courseLi li {
    padding-left: 9em;
    padding-right: 9em;
}
body {
	background-color: #E5E8E8;
}
/* .isplist li {
    float: left;
    margin-right: 40%;
    font-size: 25px;
    list-style-type: none;
} */
#inspirationimg {
    margin-top: 5%;
}
.optimalGroup {
    text-align: center;
    font-size: 25px;
    margin-bottom: 6%;
    margin-left: 10%;
    margin-right: 10%;
		 
}
#ISPtitle {
    font-family: Vesterbro, Times, serif;
    border: groove;
    font-size: 75px;
    margin-top: 10%;
    margin-bottom: 10%;
    font-align: center;
}
#conceptimg {
    float:right;
    width: 30%;
    height: 30%;
    margin-right: 5%;
    display:inline;
}
.groupTitle {
    padding: 5%;
    font-size: 30px;
    margin-bottom: 5%;
    border-style: double;
    color: black;
    border: 2px;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 30%);   
}

#optimaltitle2 {
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
    margin-bottom: 5%;
}
.titlepage {
    flex-basis: 100%;
    background: #FACCDF  ;
    border-radius: 5px;
    margin-bottom: 10%;
    margin-right: 15%;
    margin-left: 15%;
    padding: 250px 20px 700px 20px;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 2;
}
.sources {
    flex-basis: 100%;
    background: #FACCDF;
    border-radius: 5px;
    margin-bottom: 1%;
    margin-top: 5%;
    padding: 50px 20px 700px 20px;  
    margin-right: 15%;
    margin-left: 15%;
    box-sizing: border-box;
    transition: 0.5s;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 2;
}
.optimalrow {
    display: flex;
    align-items: baseline;
}
.courserow {
    display: flex;
}

.optimalrow2 {
    display: flex;
    margin-left: 7%;
}
.courseBox {
box-shadow: 0 0 20px 0px rgb(0 0 0 / 20%);
display: inline-block;
font-size: 20px;
margin-right: 10%;
flex-basis: auto;
border-radius: 10px;
margin-bottom: 5%;
margin-left: 5%;
padding: 70px 40px;
box-sizing: border-box;
transition: 0.5s;
}
.goal:hover, .optimalLinks:hover, #printsEssay:hover, #AIEssay:hover, .titlepage:hover, .sources:hover, #printsFlowchart:hover, .courseBox:hover, .considered:hover {
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 30%);
}
.coursesTitle {
    text-align: center;
    font-size: 40px;
}
#printsFlowchart {
flex-basis: 100%;
background: #FACCDF;
border-radius: 5px;
margin-bottom: 1%;
margin-top: 5%;
padding: 50px;
margin-right: 15%;
margin-left: 15%;
box-sizing: border-box;
transition: 0.5s;
}
#algorithm {
    margin-left: 10%;
}
.sources li {
    padding: 10px;
    padding-left: 64px;
    text-indent: -60px;
}

.courseList li {
    text-align: center;
    font-size: 20px;
}
#impBorder {
    border-style: double;
    color: grey;
    border: 2px;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 30%);
}
#optimaltitle {
    font-size: 50px;
    margin-top: 0%;
    osition: absolute;
    left: 0;
    margin-left: 8%;
}
#impTitle {
    text-align: center;
    font-size: 45px;
    padding-top: 5%;
}
#importance {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    font-size: 35px;
    margin-bottom: 5%;
    padding-bottom: 5%;
}
.vl {
    border-left: 1px solid black;
    height: 320px;
    position: absolute;
    left: 40%;
    margin-left: -3px;
    top: 200px;
}
.goal {
    flex-basis: auto;
    background: #AED6F1;
    border-radius: 10px;
    margin-bottom: 4%;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    padding: 70px 40px ;
    box-sizing: border-box;
    transition: 0.5s;
}
.optimalLinks {
    flex-basis: auto;
    background: #A9CCE3 ;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding: 70px 40px;
    box-sizing: border-box;
    transition: 0.5s;
}
h1 {
   
   padding-top: 10%;
    font-size: 4.5em;
    text-align: center;    
}
.margin-top{
    margin-top: 15%;    
}
hr {
    color: black;
    width: 60%;
    border-width: 3px;
    margin-left: 10%;
    margin-top: 1%;
}
#Aboutme {
    margin-left: 10%;
    letter-spacing: 2px;
    margin-top: 15%;
    font-size: 40px;
}
#intro{
    font-family: 'Monaco', Monospace;
    letter-spacing: 1px;
    font-size: 24px;
    font-alignt: center;
    margin-left: 15%;
    margin-right: 18%;
    margin-top: 2%;
}
h4 {
    text-align: center;
    font-size: 3em;
}
#sources {
    margin-left: 5%;
    margin-right: 30%;
    margin-bottom: 5%; 
}
.essay {
    text-indent: 8%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom:10%;
    margin-top: 5%;
}

#fact {
    margin-top: 20%;
    text-align: center;
    padding: 0.25em;
    font-size: 1.5em;
    color: #e1275f;
}

#github {
    flex-basis: 100%;
    background: #ffb6c1;
    border-radius: 10px;
    margin-bottom: 17%;
    font-size: 35px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    display: block;
    text-align: center;
    padding: 30px 15px;
    box-sizing: border-box;
}
#AIEssay {
    flex-basis: 100%;
    background: #FACCDF  ;
    border-radius: 5px;
    margin-bottom: 5%;
    line-height: 2; 
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 7%;
    padding: 20px 12px;
    box-sizing: border-box;
}
#printsEssay {
    flex-basis: 100%;
    background: #FACCDF ;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-right: 15%;
    line-height: 2; 
    margin-left: 15%;
    margin-top: 7%;
    padding: 20px 6px;
    box-sizing: border-box;
 }
#factButton {
    position: absolute;
    display: inline;
    margin-top: 10%;
    left: 35%;
    font-size: 30px;
    background-color: transparent;
    padding: 1em;
    border: 3px solid hotpink;
}

#factButton:hover {
    background-color: salmon;
}

h2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    font-size: 20px;
    margin-top: 1%;
}

#last {
    margin-bottom: 10%;
}

#func {
    border: 3px solid black;
}

#imp {
 //   margin-left: 2%;
   // margin-right: 20%;
   // font-size: 25px;
    flex-basis: 100%;
    background: honeydew;
    border-radius: 30px;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 7%;
    padding: 20px 12px;
    box-sizing: border-box;
}

#name {
    text-align: left;
    display: inline;
    font-family:'Luminari', Fantasy;
    margin-right: 20%;
    font-size: 40px;
    letter-spacing: 3px;
    margin-left: 3%;
}

#title {
    font-size:15px;
    text-align: left;
    margin-right: 30%;
    font-family:'Lucida Handwriting', Cursive;
    letter-spacing: 6px;
    margin-left: 6%;
}
header ul {
    list-style-type:none;
    background-color: #F4F6F7 ;
    overflow:hidden;
    padding: 0.75em;
}
header li {
    display: inline;
    color: black;
    padding: 1%;
}

header li a {
    text-decoration: none;
    color:black;
    text-align: right;
    font-size:20px;
    padding: 0%;
    letter-spacing: 3px;
}
header li a:hover  {
    background-color: lightgray;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
nav {
    position: fixed;
    z-index:1; 
    top: 0;
    width: 100%;
    overflow: visible;
 }
li.dropDown {
    display: inline-block;
    padding: 1%;
}
.dropDownContent a {
    color: black ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropDownContent {
    display: none;
    position: absolute;
    background-color:   ;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    min-width: 160px;
    z-index: 1;
}
.dropDown:hover .dropDownContent {
    display: block;
}
h3 {
    margin-top: 2%
}
